@font-face {
  font-family: "Young Serif";
  src: url(./recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf)
    format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url(./recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format("truetype");
}
